.TodosMenu {
    margin: 15px 12px 16px 12px;
}

.addTodoButton {
    width: 18px;
}

.chevron {
    width: 14px;
    padding: 0;
}

.clearCompletedButton, 
.addTodoButton
 {
    background: none;
    border: none;
}

.label {
    margin-left: 12px;
}

.input {
    padding: 6px;
}

.chevronButton {
    border: none;
    background: none;
    height: 18px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 580px;
}

.menuHeader {
    margin: 18px auto;
}

.menuFooter {
    display: flex;
    align-items: center;
}

.tab {
    background: #ffd000;
    border: rgb(240, 177, 41) solid 1px;
    border-radius: 6px;
    padding: 6px;
    margin-left: 8px;
    :focus {
        border: rgb(200, 41, 240) solid 1px;
    }
}

.list {
    display: none;
    padding: 0 40px;
}

.openList {
    display: block;
}